@tailwind base;
@tailwind components;
@tailwind utilities;

html, body, #root {
  background-color: #050509;
  overflow: hidden;
  height: 100%;
}

@keyframes status-pulse {
  0%, 100% { transform: scale(1); opacity: 1; }
  50% { transform: scale(1.5); opacity: 0.5; }
}

.animate-status-pulse {
  animation: status-pulse 2s cubic-bezier(0.4, 0, 0.6, 1) infinite;
}
